<div flex layout="row" layout-align="center center" layout-padding>

	<md-content layout-margin
		layout-align="center center"
		layout="column"
		class="md-whiteframe-8dp"
		flex="40"
		style="min-height: 300px;">

		<span class="md-headline">{{$ctrl.greeting}}</span>

		<form>

			<md-input-container style="width: 100%;">
				<label>Username</label>
				<input type="text" ng-model="$ctrl.username"/>
			</md-input-container>

			<md-input-container style="width: 100%;">
				<label>Password</label>
				<input type="password" ng-model="$ctrl.password"/>
			</md-input-container>

			<md-button type="submit" class="md-raised md-primary"
				ng-click="$ctrl.login()">login</md-button>

			<md-button type="button" class="md-raised"
				ng-click="$ctrl.check()">check</md-button>

		</form>

	</md-content>

</div>
